/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NORMALIZE  */
body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.801), 
        rgba(40, 180, 133, 0.801)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
}