//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 82rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;