body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem;
}

.primary-heading {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
    
  &--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
  }
}