.row {
  max-width: $grid-width;
  background-color: pink;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    background-color: purple;
    color: seashell;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}